<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section intro">
  <div class="hero">

  </div>
  <div class="intro-content">
    <h2 class="intro-heading">
      {{ dc "intro_text_title" }}
    </h2>
    <div class="intro-text">
      {{ dc "intro_text" }}
    </div>
  </div>
</section>
<div class="support-actions container">
  <div class="customer-support-container">
    <h3 class="section-title">{{ help_center.name }}</h3>
    <h4>{{dc 'hi_help' }}</h4>
    <div class="support-actions-container">
      {{#link 'new_request' class='button' role='button' }}
      {{ dc 'open_ticket' }}
      {{/link}}
      {{#link 'new_request' class='button' role='button' }}
      {{ dc 'manage_ticket' }}
      {{/link}}
    </div>
  </div>
  <div class="knowledgebase-container">
    <h3 class="section-title">{{ t 'knowledge_base' }}</h3>
    <h4>{{dc 'looking_more' }}</h4>
    <div class="support-search-container">
      <h2 class="visibility-hidden">{{ t 'search' }}</h2>
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false"
        viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
      </svg>
      {{search submit=false instant=settings.instant_search class='search search-full'}}
    </div>
  </div>
</div>
<div class="announcement-container">
  <h3 class="section-title">{{ dc 'important_announcements_title' }}</h3>
  <div class="announcement-content" id="announcements">
    {{dc 'announcements' }}
  </div>
</div>

<section class="container">
  <div class="wtf-section">
    <div class="wtf-card">
      <div class="wtf-card-image wtf-support"></div>
      <h4>About Customer Support</h4>
      <p>Our Services</p>
      <a href="https://support.incognito.com/hc/en-us/articles/360019210113" class="button">Read
        More</a>
    </div>
    <div class="wtf-card">
      <div class="wtf-card-image wtf-knowledgebase"></div>
      <h4>{{t "knowledge_base"}}</h4>
      <p>Answers & latest GA versions</p>
      <a href="https://support.incognito.com/hc/en-us/categories/360001302773-Products"
        class="button">Read More</a>
    </div>
    <div class="wtf-card">
      <div class="wtf-card-image wtf-product"></div>
      <h4>Product Help</h4>
      <p>Release notes, guides & more</p>
      <a href="https://help.incognito.com/" class="button">Read More</a>
    </div>
    <div class="wtf-card">
      <div class="wtf-card-image wtf-community"></div>
      <h4>Community</h4>
      <p>Share with your peers</p>
      <a href="https://support.incognito.com/hc/en-us/community/topics" class="button">Read More</a>
    </div>
    <div class="wtf-card">
      <div class="wtf-card-image wtf-security"></div>
      <h4>Security</h4>
      <p>See statements or post an issue</p>
      <a href="https://support.incognito.com/hc/en-us/articles/360021049093" class="button">Read
        More</a>
    </div>
    <div class="wtf-card">
      <div class="wtf-card-image wtf-sales"></div>
      <h4>Sales</h4>
      <p>E-mail Sales</p>
      <a href="mailto:sales@incognito.com" class="button">Read More</a>
    </div>
  </div>
</section>
<section class="container section home-section activity">
  {{#if settings.show_recent_activity}}
  {{recent_activity}}
  {{/if}}
</section>
<section class="contacts">
  <div class="container contacts-container">
    <h3 class="section-title contact-title">Contact Us</h3>
    <p><b>Phone:</b> +1.604.688.4332</p>
    <p><b>North America Toll-Free:</b> +1 (800) 877.1856</p>
    <p><b>E-mail:</b> <a href="mailto:support@incognito.com">support@incognito.com</a></p>
  </div>
</section>